<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/assets/styles/aboutme.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>    
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">
        <header>
            <h1>About Me</h1>
        </header>
        <section class="content">
            <p>
                Hello World! 
                <br>
                I'm Abby, a current junior at Fordham, majoring in Computer Science and minoring in Economics.
                Through my internship at JLR, I utilize SQL and Python to create, automate, and optimize data pipelines to 
                ensure accurate and efficient results for a multitude of departments throughout the company. During my 
                time at Fordham, I continuously gain exposure to other programming languages, including C++, SwiftUI, 
                HTML, CSS, and JavaScript.
            </p>
        </section>
    </div>
</body>
</html>
