* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: #2f2f2f; 
    color: #fdfde7; 
    padding: 20px;
}

h1, h2 
{
    color: #ffe2e7; 
    margin-bottom: 30px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}

#projects-list, #add-project, #delete-project {
    background-color: #444; 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#projects-list ul {
    list-style-type: none;
    padding: 0;
}

#projects-list li {
    background-color: #fff; 
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#projects-list h3 {
    font-size: 1.5rem;
    color: #2f2f2f; 
}

#projects-list p {
    color: #555; 
    font-size: 1rem;
    margin: 10px 0;
}

#projects-list img {
    max-width: 100%;
    border-radius: 8px;
}

button {
    background-color: #ffe2e7; 
    color: #2f2f2f;
    font-family: serif;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6d5d7; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    color: #2f2f2f;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    font-family: serif;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border-color: #ffe2e7;
    outline: none;
}

textarea {
    height: 100px;
    resize: vertical;
}

#add-project, #delete-project {
    max-width: 600px;
    font-family: serif;
    margin: 0 auto;
    margin-bottom: 25px
}

#add-project label, #delete-project label {
    color: #f8f8e7; 
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    color: #777;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    #projects-list, #add-project, #update-project, #delete-project {
        padding: 15px;
    }
}
